h1,h2,h3{
    text-align: center;
    color: rgb(1, 253, 1);
    /* text-shadow:1px 1px 1px white; */
}

body{
    background-color:azure;
    background-image: url('https://i.gifer.com/D6XK.gif');
    background-size: auto;
   
    
}
button{
    color: black;
    background-color: rgb(201, 252, 125);
    margin: 10px;
}
#list
{color: rgb(1, 253, 1); 
    float: initial;
    font-size: larger;
      text-align: center;
    padding-bottom: 100px;
   
}
#li{
     display: block; 
   float: left;   
  padding: 5px;
}
img{
    block-size: 200px;
}


#div1{
    display: flex;
}